#acervo {
  display: flex;
  background-color: aliceblue;
  padding: 15px 0px 15px 0px;
}

.acervo__title {
  background: green;
  width: max-content;
  padding: 1rem;
}

.acervo__text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.acervo__wrapper {
  display: flex;
  justify-content: center;
}

.linha {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  padding: 0.15rem;
}

.coluna {
  display: flex;
  flex-direction: column;
}



.image__estrutura img{
  display: flex;
}

.teste {
  display: flex;
}

.teste:hover {
  opacity: 1;
  transform: scale(1.1);
}

.acervo__page__title {
  display: flex;
  justify-content: center;
}

.title__acervo__page {
  display: flex;
}

#estrutura .title__acervo__page {
  background-color: yellow;
}

#colaboradores__antigos .title__acervo__page {
  background-color: green;
}

#colaboradores__atuais .title__acervo__page {
  background-color: yellow;
}

#geraldo__gamboa .title__acervo__page {
  background-color: green;
}

#tania__barbeto .title__acervo__page {
  background-color: yellow;
}