#acervo {
  display: flex;
  background-color: aliceblue;
  padding: 15px 0px 15px 0px;
}

.acervo__title {
  background: green;
  width: max-content;
  padding: 1rem;
}

.acervo__text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
