/* Header */

.header__contact {
  border-bottom: 3px solid yellow;
}

.nav__contact .nav__ul {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.nav__link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.header__social__md {
  display: flex;
  justify-content: space-between;
}

.header__socialLinks__md {
  display: flex;
  align-items: last baseline;
}

.header__image__cell img {
  max-width: 50%;
  max-height: 50%;
}

.header__sociallinks__cell {
  display: flex;
  justify-content: center;
}


/*End Header */
