/*parceiros*/

.parceiros__img {
    display: flex;
    padding: 1rem 0 1rem 0;
    justify-content: space-evenly;
}

.parceiros__img__cell {
    display: flex;
    justify-content: space-evenly;
}

.parceiros__img__cell a {
    display: flex;
    max-width: 80px;
}

/*end parceiros*/