/*parceiros*/

.parceiros__img {
    display: flex;
    justify-content: space-evenly;
}

.parceiros__img__cell {
    display: flex;
    max-height: 100px;
    justify-content: space-between;
}

/*end parceiros*/