@import url("header.css");
@import url("acervo.css");
@import url("parceiros.css");

main {
}

#publicacoes {
  display: flex;
  background-color: yellow;
  margin: 1px;
}

#publicacoes .row {
  background-color: aliceblue;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.nome {
  display: flex;
  align-items: end;
}

