@import url("header.css");
@import url("acervo.css");
@import url("parceiros.css");

#publicacoes {
  display: flex;
  background-color: yellow;
  margin: 1px;
}

#publicacoes .row {
  background-color: aliceblue;
}

a {
  text-decoration: underline !important;
  color: black !important;
}

.nav-link {
  text-decoration: none !important;
}

.nome {
  display: flex;
  align-items: end;
}

.publicacoes__itens {
  display: flex;
  padding: 1px;
}

.publicacoes__itens a {
  display: flex;
  border: 2px solid red;
}

.pdf__title {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 10px;
}

.img__publicacoes {
  display: flex;
  align-items: center;
}

#hero {
  display: flex;
  padding: 5px 0px 0px 0px;
}

.nav__cell {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navbar__item {
  display: flex;
  justify-content: end;
}

.mais__pesquisas {
  display: flex;
  justify-content: end;
}

.link__mais__pesquisa {
  display: flex;
  text-decoration: underline !important;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.pesquisas__title {
  padding: 0.5rem 0;
}

.dropdown-toggle {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.dropdown-menu {
  display: flex;
  width: 50px;
}

.puvlicacao__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes__i {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  align-items: end;
}

.redes__footer {
  display: flex;
  justify-content: center;
  align-items: end;
}

#hero {
  display: flex;
  background-color: antiquewhite;
  padding: 1rem;
}

