@import url("header.css");
@import url("acervo.css");
@import url("parceiros.css");

#publicacoes {
  display: flex;
  background-color: yellow;
  margin: 1px;
}

#publicacoes .row {
  background-color: aliceblue;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.nome {
  display: flex;
  align-items: end;
}

.publicacoes__itens {
  display: flex;
  padding: 1px;
  align-items: center;
  justify-content: center;
}

.publicacoes__itens a {
  display: flex;
  border: 2px solid red;
}

.pdf__title {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 10px;
}

.img__publicacoes {
  display: flex;
  align-items: center;
}